name: deploy_docs 

on:
  # We could deploy docs on every push.
  # push:
  #   branches:
  #     - master 
  #     - main
  # But we only deploy with a release.
  release:
    types: [published]

  # To enable to manually trigger this action.
  workflow_dispatch:

permissions:
  contents: read

env:
  FORCE_COLOR: "1"

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: 3.x

      - name: Ensure latest pip
        run: python -m pip install --upgrade pip

      - name: Install hatch
        run: |
          pip install hatch

      - name: Publish on github.io
        run: hatch run docs:ci-build